html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

body {
  font-family: 'Barlow Semi Condensed';
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3;
  color: $white;
  min-height: 100vh;
  background-image: radial-gradient(circle at top center, $bg-light, $bg-dark);
  background-size: 150%;
  background-position: 50% 0;
}
