$bg-dark: #141539;
$bg-light: #1f3756;

$yellow-dark: #ec9e0e;
$yellow-light: #eca922;

$blue-dark: #4865f4;
$blue-light: #5671f5;

$pink-dark: #dc2e4e;
$pink-light: #dd405d;

$dark-text: #3b4363;
$score-text: #2a46c0;
$header-outline: #606e85;

$white: #fff;
